# env = dev | prod | test
NODE_ENV=dev

# Server

BASE_URL=http://localhost:3000

# Database

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=budget_db
DB_MAX_CONNECTION=10

# DB_USE_SSL is false by default; if db connection needs ssl set it true and add DB_SSL_CA_BASE64. 

DB_USE_SSL=false

# DB_SSL_CA_BASE64 is the base64 encoded CA certificate for the db connection. 
# Note: DB_SSL_CA_BASE64 value must be in single line. If DB_USR_SSL = true then uncomment the following
# line and set the value.

# DB_SSL_CA_BASE64=

# AWS S3
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
S3_REGION=
S3_BUCKET=
CDN_BASE_URL=

# Firebase

FIREBASE_PROJECT_ID=

